body {
  margin: 0;
  background-color: #edeaea;
  display: flex;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
}

#root {
  max-width: 360px;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: white;
}

*{
  box-sizing: border-box;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
