.report-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}
.report-container-top{
  width: 295px;
}
.report-container-home{
  width: 35px;
  margin-top: 5px;
  transform: translateY(2px);
}
.report-container-image{
  height: 265px;
  width: 295px;
  object-fit: cover;
  border-radius: 15px;
}

.diet-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;

}
.diet-container__sort{
  display: flex;
  flex-direction: column;
  padding: 3px;
  font-size: 15px;
  font-weight: 600;
}
.diet-container__section{
  padding-top: 2px;
}
.diet-container__section-name{
  color: #8C8C8C;
  padding-right: 5px;
}
.diet-container__section-calories{
  color: #AEAEB2;
}

.diet-container__icon{
  transform: translate(40px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.diet-container__total-calories{
  font-weight: 700;
  text-align: right;
  margin-top: 10px;
}
.diet-container__total-calories p{
  color: #AEAEB2;
  font-size: 16px;
}
.diet-container__total-calories span{
  color: #404040;
  font-size: 26px;
}

.nutrient-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 328px;
  height: 78px;
  margin-top: 10px;
  box-shadow: 0px 3px 3px rgba(17, 17, 17, 0.189);
  border-radius: 22px;
  gap: 40px;
}
.nutrient-container__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  transform: translate(0, 4px);
}
.nutrient-container__section h3{
  font-size: 14px;
  font-weight: 700;
}
.nutrient-container__section p span{
  font-size: 14px;
  color: #8E8E93;
  font-weight: 700;
}
/*map 함수 폰트 색상*/
.carbohydrate {
  color: #5BA2FF;
}
.protein {
  color: #5DC34C;
}
.fat {
  color: #EF9873;
}
.sugar{
  color: #ff627a;
}