.peek-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 328px;
  height: 60px;
  background: #5BA2FF;
  color: white;
  border-radius: 60px 60px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-top: 5px;

  font-weight: 600;
  cursor: pointer;
  z-index: 30;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(1px);
  z-index: 20;
}

.sheet-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  bottom: 0;
  width: 328px;

  background: #5BA2FF;
  border-radius: 60px 60px 0 0;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.12);

  max-height: 70vh;
  height: auto;

  display: flex;
  flex-direction: column;

  transition: transform 0.35s cubic-bezier(0.25, 0.8, 0.4, 1);
  z-index: 40;
}

.open {
  transform: translateX(-50%) translateY(0);
}

.content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  color: #404040;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
  font-weight: 600;
}

.content {
  padding: 20px;
  background-color: white;
  overflow-y: auto;
  max-height: 50vh;
  border-radius: 20px;

  color: #868889;
  font-size: 15px;
  white-space: pre-line;
}
