.diet-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.diet-container__time{
  font-size: 15px;
  font-weight: 600;
  color: #8C8C8C;
  padding-left: 5px;
}

.diet-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0px 6px 6px rgba(17, 17, 17, 0.189);
}
.diet-card__img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
.diet-card__section{
  padding-left: 15px;
  padding-top: 5px;
}
.diet-card__total{
  font-size: 13px;
  color: #7C7C7C;
  font-weight: 600;
  padding-top: 2px;
}
.diet-card__calories{
  font-size: 18px;
  font-weight: 600;
  padding-top: 8px;
}