.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 287px;
  height: 194px;
  background-color: white;
  border-radius: 12px;
  font-weight: 600;
}
.modal-container__title{
  font-size: 19px;
  color: #404040;
  padding-bottom: 20px;
  padding-top: 5px;
}
.modal-container__text{
  font-size: 14px;
  color: #AEAEB2;
  padding-bottom: 7px;
}
.modal-container__button{
  width: 200px;
  height: 43px;
  background: linear-gradient(to right, #ABE5A1, #5BA2FF);
  color: white;
  
  border-radius: 12px;
  border: none;
  font-size: 16px;
}