.modal-container-border{
  position: fixed;
  bottom: 0;
  width: 328px;
  height: 250px;
  background-color: white;
  border-radius: 100px 100px 0 0;

  background: linear-gradient(to bottom, #5BA2FF, #ABE5A1);
  padding: 5px 5px 0 5px;
}
.modal-container-border__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 95px 95px 0 0;
  color: #606060;
  font-size: 14px;
  font-weight: 600;
  gap: 15px;
}

.modal-container__button{
  position: absolute;
  top: -20px;
  width: 268px;
  height: 73px;
  border-radius: 42px;
  border: none;
  background-color: white;
  color: #5BA2FF;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(17, 17, 17, 0.189);
}

.modal-container__form{
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 20px;
}
.modal-container__form-input{
  margin-top: 5px;
  height: 50px;
  border-radius: 7px;
}

.modal-container__radio{
  display: flex;
  justify-content: center;
  width: 260px;
  border: none;
  gap: 15px;
}
.modal-container__radio-label{
  display: flex;
  flex-direction: row;
}
.modal-container__radio-label input{
  margin-right: 3px;
}