.modal-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  width: 287px;
  background-color: white;
  border-radius: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}
.bubble-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
}
.modal-container__title{
  font-size: 15px;
  color: #ffffff;
  background-color: #45a2ff;
  padding: 6px 20px 6px 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.modal-container__text{
  font-size: 11px;
  color: #AEAEB2;
  padding-top: 7px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 10px;
}

h3{
  font-size: 15px;
  color: #404040;
  padding-bottom: 12px;
}
.summary-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.card {
  background: #f6f7fb;
  padding: 14px;
  border-radius: 12px;
  text-align: center;
}
.cardLabel {
  font-size: 13px;
  color: #666;
}
.cardValue {
  font-size: 15px;
  font-weight: 700;
  margin-top: 4px;
}

.highlight-container {
  display: flex;
  gap: 7px;
  margin-bottom: 15px;
}
.highlight-item-high{
  display: flex;
  justify-content: space-between;
  width: 120px;
  background-color: #ff5c87;
  border-radius: 8px;
  padding: 3px 12px 3px 12px;
  margin-bottom: 3px;
}
.high-label {
  font-size: 13px;
  color: white;
}
.high-value {
  font-size: 13px;
  color: white;
}

.highlight-item-low{
  display: flex;
  justify-content: space-between;
  width: 120px;
  background-color: #45a2ff;
  border-radius: 8px;
  padding: 3px 12px 3px 12px;
  margin-bottom: 3px;
}
.low-label {
  font-size: 13px;
  color: white;
}
.low-value {
  font-size: 13px;
  color: white;
}